.category-bar-container {
    border-bottom: 1px solid #E8E8E8;
}

.category-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    padding-bottom: 22px;
    /* add functionality for scroll bar later here with mid width */
    min-width: 1000px;
    margin: auto;
}

.category-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.cat-list-item {
    margin: 0 20px;
    color: #7e8383;
    font-size: 17px;
}