.new-proj-section {
    max-width: 1282px;
    min-width: 600px;
    margin: 0 auto;
}

.new-proj-container {
    width: 605px;
    margin: 0 auto;
    text-align: center;
}

.choose-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    padding-top: 100px;
}

.choose-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    padding-top: 100px;
}

.choose-loc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    padding-top: 100px;
}

.choose-funding {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    padding-top: 100px;
}

.cat-header {
    font-size: 29px;
    margin-bottom: 17px;
}

.cat-sub-header {
    color: rgba(0,0,0,0.6);
    margin-bottom: 40px;
}

.dropform {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-count {
    padding-top: 10px;
}

.session-type-input-proj {
    padding: 16px 18px;
    background-color: white;
    -webkit-appearance: none;
    border-radius: unset;
    color: rgba(0,0,0,0.6);
    width: 100%;
    font-size: 18px;
    margin-bottom: 85px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
}

.session-type-button-proj {
    border: 0;
    padding: 11px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
}

.btn-proj {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #e8e7e8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-type-input-info {
    margin: 0px 0px 38px;
    height: 70px;
    width: 566px;
    padding-top: 12px;
    padding-left: 12px;
    resize: none;
    padding: 16px 18px;
    background-color: white;
    -webkit-appearance: none;
    border-radius: unset;
    font-size: 14px;
}

/* outline is none, instead we do border color (it's better imo) */

textarea {
    border-color: hsl(0, 0%, 91%);
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
}
textarea:hover {
    outline: none;
    border: 1px solid #009E74;
    -webkit-transition: all 0.30s ease-in-out;

}

textarea:focus {
    outline: none;
    border-color: black;
    -webkit-transition: all 0.30s ease-in-out;
}


.session-type-input-info-short {
    margin: 0px 0px 38px;
    height: 20px;
    width: 566px;
    padding-top: 12px;
    padding-left: 12px;
    resize: none;
    padding: 16px 18px;
    background-color: white;
    -webkit-appearance: none;
    border-radius: unset;
    font-size: 14px;
}

.session-type-input-info::placeholder {
  color: hsl(180, 2%, 68%);
}

.session-type-input-info-short::placeholder {
  color: hsl(180, 2%, 68%);
}

.box-header {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 8px;
}

.page-3-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;

}

.info-header {
    font-size: 29px;
    margin-bottom: 40px;
}

.info-sub-header {
    color: rgba(0,0,0,0.6);
    margin-bottom: 22px;
    font-size: 16px;
}

.info-form-final {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-type-input-funding {
    margin: 0px 0px 38px;
    height: 20px;
    width: 100%;
    padding-top: 12px;
    padding-left: 12px;
    resize: none;
    padding: 16px 18px;
    background-color: white;
    border-radius: unset;
    font-size: 18px;
    border: 1px solid #e8e8e8;
    color: #282828;
    -webkit-transition: all 0.30s ease-in-out;
}

.session-type-input-funding:hover {
    outline: none;
    border: 1px solid #009E74;
    -webkit-transition: all 0.30s ease-in-out;
}

.session-type-input-funding:focus {
    outline: none;
    border: 1px solid black;
    -webkit-transition: all 0.30s ease-in-out;
}

.dollar-sign {
    margin-bottom: 38px;
    width: 100px;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3px;
    color: #282828;
    border-right: none;
    -webkit-transition: all 0.30s ease-in-out;
}


.funding-box {
    display: flex;
    width: 100%;
}

.radio-box {
    text-align: left;
    margin: 0px 0px 38px;
    height: 20px;
    width: 568px;
    padding: 16px 18px;
    font-size: 18px;
    border: 1px solid #e8e8e8;
    color: #282828;
    -webkit-transition: all 0.30s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-box:hover {
   outline: none;
   border: 1px solid #009E74;
   -webkit-transition: all 0.30s ease-in-out;
   cursor: pointer;
}

.radio-box:focus {
    outline: none;
    border: 1px solid black;
    -webkit-transition: all 0.30s ease-in-out;   
}

.radio-session-type-input {
   padding: 10px;
   font-size: 14px;
   margin-right: 18px;
}

.sweet-loading {
    z-index: -10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 5px;
    margin-top: 100px;
}