.navbar-and-modal {

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: scroll;
    background-color: #FBFBFA;
}

.modal-header {

}

.modal-links {

}