.project-summary-section {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dcdedd;
  background-color: #fbfbfa;
}

.project-summary-container {
  min-width: 890px;
  min-height: 694px;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1246px;
}

.loved {
  color: black;
}

.project-intro {
  color: #282828;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.project-title {
  margin-top: 38px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 11px;
  max-width: 1034px;
}
.project-subtitle {
  font-size: 18px;
  line-height: 24px;
  max-width: 1034px;
  padding-bottom: 45px;
}

.project-pic-container {
  height: 460px;
  width: 818px;
}

.project-pic {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.bottom-project-bar {
  display: flex;
  justify-content: flex-start;
  padding-top: 18px;
  padding-bottom: 30px;
}

.project-bar-item {
  margin-right: 18px;
}

.loved {
  margin-right: 18px;
}

.project-picture-and-details {
  display: flex;
}

.project-details-container {
  max-width: 390px;
  padding-left: 36px;
}

.progress-bar-container {
  width: 100%;
  height: 6px;
}

.progress-bar {
  background-color: #009e74;
  height: 100%;
}

.odometer {
  font-size: 30px;
  color: #009e74;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 2px;
}

.light-grey {
  color: #656969;
}

.sub-text {
  font-size: 15px;
  margin-top: 3px;
}

.main-text {
  margin-top: 29px;
  font-size: 30px;
  font-weight: bold;
}

.backing-btn {
  background-color: #009e74;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 13px;
  width: 100%;
  display: block;
  font-family: "Didact Gothic", "Helvetica Neue", "sans-serif", "Helvetica",
    "Arial", "sans-serif";
  margin-top: 29px;
  -webkit-transition: all 0.3s ease-in-out;
}

.backing-btn:hover {
  background-color: #007460;
}

.project-remind-btn-container {
  width: 50%;
}

.project-remind-btn {
  border: 1px #dcdedd solid;
  padding: 11px 20px;
  background-color: #ffffff;
  color: #282828;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 16px;
}

.project-remind-btn:hover {
  border: 1px #282828 solid;
}

.remind-and-favs {
  display: flex;
  margin: 18px 0;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.social-icons {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #282828;
  -webkit-transition: all 0.3s ease-in-out;
}

.social-icons a {
  -webkit-transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #656969;
}

.odometer-formatting-mark {
  color: #009e74;
}

.underline {
  text-decoration: underline;
  display: inline;
}

.all-or-nothing {
  font-size: 13px;
  color: #282828;
  display: inline;
}

.all-or-nothing p {
  display: inline;
  line-height: 18px;
}

.project-nav-bar-container {
  height: 72px;
  border-bottom: solid 1px #dcdedd;
  display: flex;
}

.project-nav-bar {
  width: 624px;
  height: 100%;
  display: flex;
  align-items: center;
}

.project-nav-bar-inner-container {
  width: 1076px;
  margin: 0 auto;
  height: 100%;
}

a.campaign-tab {
  margin: 0 23px;
  border-bottom: #282828 3px solid;
  padding: 26px 5px;
  color: #282828;
  font-weight: bold;
}

.lower-project-show-container {
  display: flex;
}

.lower-project-show {
  display: flex;
  padding: 60px 0;
  margin: 0 auto;
}

.project-campaign-container {
  max-width: 645px;
  padding-right: 54px;
}

.project-campaign {
  width: 645px;
  font-size: 21px;
  margin-bottom: 30px;
}

.info-and-rewards-container {
  width: 322px;
}

.reward-index-item {
  border: solid 1px #dcdedd;
  margin: 22px 0;
  padding: 18px;
  padding-top: 22px;
  padding-bottom: 60px;
}

.author-name-badge {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 18px;
}

.user-info-container {
  border: solid 1px #dcdedd;
  padding: 20px;
  margin-bottom: 36px;
}

.no-reward-pledge {
  border: solid 1px #dcdedd;
  padding: 20px;
}

.project-campaign-body {
  font-size: 16px;
  line-height: 30px;
}

.reward-header {
  margin-bottom: 42px;
  font-size: 21px;
}

.pledge-submit-button {
  background-color: #009e74;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 13px;
  width: 100%;
  display: block;
  font-family: "Didact Gothic", "Helvetica Neue", "sans-serif", "Helvetica",
    "Arial", "sans-serif";
  -webkit-transition: all 0.3s ease-in-out;
}

.pledge-submit-button:hover {
  background-color: #007460;
}

.pledge-text-input {
  display: flex;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.pledge-reward-amount {
  font-size: 19px;
  margin-bottom: 22px;
}

.no-reward-header {
  font-size: 18px;
  margin-bottom: 18px;
}

.funding-box-rew {
  display: flex;
  width: 100%;
}

.dollar-sign-rew {
  font-size: 13px;
  margin-bottom: 20px;
  width: 56px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  color: #b6b8b8;
  border-right: none;
  -webkit-transition: all 0.3s ease-in-out;
}

.session-type-input-funding-rew {
  margin: 0px 0px 20px;
  height: 8px;
  width: 100%;
  resize: none;
  padding: 16px 12px;
  padding-top: 14px;
  padding-bottom: 18px;
  background-color: white;
  border-radius: unset;
  font-size: 17px;
  border: 1px solid #e8e8e8;
  color: #282828;
  -webkit-transition: all 0.3s ease-in-out;
}

.session-type-input-funding-rew:focus {
  outline: none;
  border: 1px solid #009e74;
  -webkit-transition: all 0.3s ease-in-out;
}

.reward-subdesc {
  font-size: 14px;
  margin-top: 14px;
  color: hsl(180, 1%, 54%);
  margin-bottom: 24px;
}

.deliv-and-ship {
  display: flex;
}

.deliv {
  width: 50%;
}

.ship {
  width: 50%;
}

.small-reward-header {
  color: #8c9090;
  font-size: 10px;
  margin-bottom: 7px;
}

.reward-sub-header {
  font-size: 15px;
  color: #020621;
  margin-bottom: 24px;
}

.reward-backers {
  color: #8c9090;
  font-size: 13px;
  margin-bottom: 38px;
}

.pledge-amt {
  color: #656969;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 13px;
}
