.small-header-recc {
  color: #656969;
  font-size: 13.5px;
  font-weight: bold;
}

.recc-project-index-item {
  border-bottom: solid 1px #dcdedd;
}

.recc-pic-and-body {
  display: flex;
  flex-direction: row;
  padding-bottom: 19px;
  padding-top: 19px;
}

.recc-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.recc-project-title {
  font-size: 16px;
}

.recc-project-title:hover {
  color: #037362;
  text-decoration: underline;
}

.funded-amount {
  color: #037362;
  margin-top: 12px;
  font-family: Helvetica Neue;
  font-weight: 500;
  margin-bottom: 6px;
}

.heart-container {
  width: auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.heart {
  font-size: 19px;
  color: #dcdedd;
}

.heart:hover {
  color: #282828;
}

.author-name {
  color: #7e8383;
}

.proj-name-underline {
  color: #7e8383;
}

.proj-name-underline:hover {
  text-decoration: underline;
}

.recc-project-index-item-pic {
  height: 90px;
  width: 160px;
  object-fit: cover;
  padding-right: 24px;
}

.author-link:hover {
  text-decoration: underline;
}

.heart-notification-cont {
  position: absolute;
}

.fa-heart {
  cursor: pointer;
}

.heart-notification-inner {
  position: relative;
  width: 110px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  display: flex;
  align-items: center;
  z-index: 2;
  margin-top: -3px;
  justify-content: center;
  top: -28px;
  left: -2px;
}

.heart-notification-tri {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: black;
  top: -43px;
  left: 44px;
  transform: rotate(45deg);
}

.heart-notif-rel-cont {
  position: relative;
  -webkit-animation: heart 0.5s;
  transition: all 0.3s ease-in-out;
  top: 0px;
  left: 65px;
}

.fadeout {
  position: relative;
  -webkit-animation: fadeout 0.5s;
  transition: all 0.3s ease-in-out;
}

@keyframes heart {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }

  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
